<%- include('./layout/header')%> 
<%- include('./layout/navbar')%>

 <div class="page-container">
    <h1><%= data.title%></h1>
    <p><%= data.date%></p>
    <p class="diary-text"><%= data.description%></p>
 </div>

<%- include('./layout/footer')%>